h2 {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    color: #3498db;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
}

  
  .single-patient-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .patient-card {
    border: 2px solid #3498db;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 15px;
    width: 300px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
  
    .patient-info {
        display: flex;
        margin-bottom: 10px;
    
        .info-label {
          font-weight: bold;
          margin-right: 10px;
          color: #333;
        }
    
        .info-value {
          flex-grow: 1;
          color: #555;
        }
      }
  }
  
  .patient-operations {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    button {
      margin: 10px;
      padding: 10px 20px;
      background-color: #3498db;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
  
      &:hover {
        background-color: #e74c3c;
      }
    }
  }
  
  