<app-menu></app-menu>
<div class="patient-container">
    <h2>Créer un Nouveau Patient</h2>
    <form (ngSubmit)="savePatient()">
        <div class="form-group">
            <label for="medecin">Médecin :</label>
            <select id="medecin" [(ngModel)]="patient.docteur" name="docteur" required>
                <option *ngFor="let medecin of medecins" [ngValue]="medecin">{{ medecin.nom }} {{ medecin.prenom }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ville">Ville :</label>
            <input type="text" id="ville" [(ngModel)]="patient.adresse.ville" name="ville" required>
        </div>
        <button type="submit">Enregistrer</button>
    </form>
</div>